

* { box-sizing: border-box; }
.logo {
border-radius: 50%;
height: 30px;
width: auto;
object-fit: contain;
}


/* Utility classes to quickly change logo size */
.logo--sm { height: 26px; }
.logo--md { height: 38px; }
.logo--lg { height: 52px; }


/* Full control: set both width and height */
.logo--w100 { width: 100px; height: auto; }
.logo--w150 { width: 150px; height: auto; }


/* Responsive adjustments */
@media (max-width: 820px) {
.logo { height: 32px; }
.logo--lg { height: 44px; }
}


@media (max-width: 420px) {
.logo { height: 28px; }
.logo--lg { height: 36px; }
}

.navbar {
width: 100%;
background: #171718;
top: 0;
z-index: 50;
}


.navbar__container {
max-width: 1100px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
}


.brand {
font-size: 1.3rem;
font-weight: 700;
text-decoration: none;
color: #1f2937;
}


.nav {
display: flex;
}


.nav__list {
display: flex;
justify-content: space-between;
gap: 36px;
margin: 0;
padding: 0;
list-style: none;
}


.nav__link {
text-decoration: none;
color:rgb(255, 123, 0);
font-size: 1.08rem;
}
.nav__link:hover{
color:rgb(234, 154, 79);
}