
.home-container {
  display: flex;
  flex-wrap: wrap;         
  align-items: flex-start;
  justify-content: space-between;
  padding: 60px 40px;    
  box-sizing: border-box;
  color: rgb(249, 248, 248);
  background-color: black;
}

.left {
  flex: 1;
  min-width: 280px;       
  padding-right: 20px;
  text-align: center;       
}

.right {
  flex: 1;
  min-width: 280px;
  padding-left: 20px;
  text-align: center;    
}

.title {
  font-size: 2.5rem;     
  font-weight: 700;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.icon {
  display: block;            
  margin: 0 auto;       
  font-size: 2.5rem;   
  color: orange;                  
}

/* Responsive */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;   /* mobile-д vertical болгох */
    padding: 40px 20px;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .tandy-icon {
    font-size: 2.5rem;
    margin-bottom: 12px;
  }

  .left, .right {
    padding: 0;
    text-align: center;
  }
}
