.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;       
  min-height: 10%;            
  width: 100%;
background: #1c2a3d;
background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(36, 41, 50) 44%, rgba(201, 218, 245, 1) 100%);
  background-size: contain;       
  background-position: center center; 
  background-repeat: no-repeat;
  overflow: hidden;               
}
.hero img{
  max-height: 600px;          
  width: 65%;
  box-sizing: border-box;
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 1, 0.50);
  z-index: 2;
}
.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 50;
  text-align: center;
  color: rgb(255, 128, 0);
  padding: 0 24px;
}

.hero__content h1 {
    text-shadow: 1px 1px #000000;
  font-size: 5rem;
  margin-bottom: 12px;
}

.hero__content p {
  font-size: 2rem;
}


@media (max-width: 768px) {
  .hero {
    min-height: 40vh;        
    background-size: cover;        
  }
  .hero__content h1 {
    font-size: 1.6rem;
  }
  .hero__content p {
    font-size: 1rem;
  }
}
