.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;       
  min-height: 10%;            
  width: 100%;
background: #005ee0;
background: linear-gradient(180deg, rgba(0, 94, 224, 1) 0%, rgba(74, 136, 237, 1) 44%, rgba(201, 218, 245, 1) 100%);
  background-size: contain;       
  background-position: center center; 
  background-repeat: no-repeat;
  overflow: hidden;               
}
.hero img{
  max-height: 600px;          
  width: 65%;
  box-sizing: border-box;
}
.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 50;
  text-align: center;
  color: #002860;
  padding: 0 24px;
}

.hero__content h1 {
    text-shadow: 3px 3px #e8e3e3;
  font-size: 5rem;
  margin-bottom: 12px;
}

.hero__content p {
  font-size: 2rem;
}


@media (max-width: 768px) {
  .hero {
    min-height: 40vh;        
    background-size: cover;        
  }
  .hero__content h1 {
    font-size: 1.6rem;
  }
  .hero__content p {
    font-size: 1rem;
  }
}
