.contact-section {
  background-color: #111;
  color: #fff;
  padding: 80px 20px;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* Map */
.map-container {
  flex: 1;
  min-width: 300px;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0,0,0,0.4);
  margin-top: 24px;
}

/* Contact info */
.contact-info {
  flex: 1;
  min-width: 300px;
  text-align: left;
  padding: 20px;
}

.contact-info h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #f39c12;
}

.contact-info p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  padding-left: 10px;
}
.box{
    display: flex;
    margin: 5px;
    border: #f39c12;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 20px;
}

/* Responsive */
@media (max-width: 992px) {
  .contact-container {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .map-container {
    height: 300px;
  }

  .contact-info {
    text-align: center;
    padding: 10px 0;
  }
}
